/* Universal */

* { 
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

/* Webpage */

body {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
}

p {
    word-spacing: normal; /* Keep normal word spacing */
}

/* Nav Bar */

.logo {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

nav {
    position: sticky;
    top: 0;

    height: 80px; 
    padding: 1.5rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 1.3rem;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #d7c08c;
}

.plane {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.flag {
    width: 25px;
    height: 25px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.sound-control {
    width: 35px;
    height: 35px;
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

/* Body Content */

#character {
    width: 36rem;
    height: 36rem;
    object-fit: cover; 
    transform: translate(5%, 6.5%);    
}

.img-container {
    display: flex;          
    justify-content: center;    
    align-items: center;       
    height: 28rem;
    width: 28rem;
    overflow: hidden;
}

.main {
    text-align: center;
    font-size: 1.2rem;
}

.main h1 {
    font-size: 3rem;
}

/* Fa Icons */

.social-icon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#5f594e;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    padding: 10px;
}

.fa-discord {
    line-height: 2rem;
    text-align: center;
}

/* Flex Layout */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.no-wrap {
    flex-wrap: nowrap;
}

.centre {
    align-items: center;
}

/* Animations */

.plane:hover {
    filter: opacity(60%);
}

.sound-control:hover {
    filter: opacity(60%);
}

.socials:hover {
    animation-play-state: paused;
    color: #d7c08c;
}


.blink {
    animation: blink 1.3s infinite;
    animation-play-state: paused;
}

.blink-long {
    animation: long 1.5s infinite;
    animation-play-state: paused;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.cloud {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 50%; 
    left: 0;   
    transform: translateY(10rem);
    transform: translateX(35%);
    animation: glide 1s linear;  
}

@keyframes blink {
    0% { opacity: 1;}
    1% { opacity: 0;}
    100% { opacity: 1; } 
}

@keyframes long {
    0% { opacity: 1; }   
    1% { opacity: 0;}
    80% { opacity: 0;}
    100% { opacity: 1; } 
}

@keyframes glide {
    from { left: 0; }
    to { left: 30%; }
}
